{% extends "myblog/base.html" %}
{% load static %}

{% block title %}
BlogDetails
{% endblock %}

{% block content %}

<div class="card mb-3">
  {% if blog.image %}
      <img src="{{blog.image.url}}" class="card-img-top" alt="Image Not Found">
      {% else %}
      <img src="{% static 'myblog/img/dumy_post_img.png' %}" class="card-img-top" alt="Default Image">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{blog.title}}</h5>
    <p class="card-text">{{blog.content}}</p>
    <p class="card-text"><small class="text-muted">Last updated {{blog.created_at}} mins ago</small></p>
  </div>
</div>
<a href="{% url 'blog-list' %}" class="btn btn-light">Back</a>

{% endblock %}