{% extends "myblog/base.html" %}
{% load static %} 

{% block title %}
BlogHomePage
{% endblock %}


{% block content %}

<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for blog in page_obj %}
  <div class="col">
    <div class="card h-100">
      {% if blog.image %}
      <img src="{{blog.image.url}}" class="card-img-top" alt="Image Not Found">
      {% else %}
      <img src="{% static 'myblog/img/dumy_post_img.png' %}" class="card-img-top" alt="Default Image">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{blog.title}}</h5>
        <p class="card-text">{{blog.short_content}}<a href="{% url 'blog-detail' blog.pk %}">Read more</a></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated {{blog.created_at | timesince}} ago</small>
      </div>
    </div>
  </div>
  {% empty %}
  <p>No Post Found!</p>
  {% endfor %}
</div>

<!--start pagination-->
<nav aria-label="Page navigation">
  <ul class="pagination mt-1">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1">&laquo; first</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
      </li>
    {% endif %}
    
    <li class="page-item disabled">
      <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    </li>
    
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      </li>
    {% endif %}
  </ul>
</nav>
<!--end pagination-->

{% endblock %}